@model BasketballProject.Models.ILineupGenModel
@{
    ViewBag.Title = "Your Lineup!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Lineup!</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Player1.Position)            
        </th>
        <th>
           @Html.DisplayNameFor(model => model.Player2.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player3.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player4.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player5.Position)
        </th>
        <th>
           @Html.DisplayNameFor(model => model.Player6.Position)
        </th>
        <th>
           @Html.DisplayNameFor(model => model.Player7.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player8.Position)
        <th>
           @Html.DisplayNameFor(model => model.Player9.Position)
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => Model.Player1.First_Name)
            @Html.DisplayFor(model => Model.Player1.Last_Name)
        </td>
        <td>
            @Html.DisplayFor(model => Model.Player2.First_Name)
            @Html.DisplayFor(model => Model.Player2.Last_Name)
        </td>
        <td>
            @Html.DisplayFor(model => Model.Player3.First_Name)
            @Html.DisplayFor(model => Model.Player3.Last_Name)
        </td>
        <td>
            @Html.DisplayFor(model => Model.Player4.First_Name)
            @Html.DisplayFor(model => Model.Player4.Last_Name)
        </td>
        <td>
            @Html.DisplayFor(model => Model.Player5.First_Name)
            @Html.DisplayFor(model => Model.Player5.Last_Name)
        </td>
        <td>
            @Html.DisplayFor(model => Model.Player6.First_Name)
            @Html.DisplayFor(model => Model.Player6.Last_Name)
        </td>
        <td>
            @Html.DisplayFor(model => Model.Player7.First_Name)
            @Html.DisplayFor(model => Model.Player7.Last_Name)
        </td>
        <td>
            @Html.DisplayFor(model => Model.Player8.First_Name)
            @Html.DisplayFor(model => Model.Player8.Last_Name)
        </td>
        <td>
            @Html.DisplayFor(model => Model.Player9.First_Name)
            @Html.DisplayFor(model => Model.Player9.Last_Name)
        </td>
        @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LineupID }) |
                @Html.ActionLink("Details", "Details", new { id = item.LineupID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.LineupID })
            </td>*@
    </tr>


</table>

