@model BasketballProject.Models.ImportPlayerViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="overflow:auto;height:350px;">

      <table class="table">
            <tr>
                <th>
                Player Name
                </th>            
                <th></th>
            </tr>

@foreach (var ip in Model.ImPlayers)
{
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => ip.First_Name ) &nbsp;
                    @Html.DisplayFor(modelitem => ip.Last_Name) &nbsp;
                    @Html.DisplayFor(modelitem => ip.Position) &nbsp;
                    @Html.DisplayFor(modelitem => ip.Team) &nbsp;
                    @Html.DisplayFor(modelitem => ip.Salary) &nbsp;
                    @Html.DisplayFor(modelitem => ip.Played)                   
                    @Html.ActionLink("Select", "SelectPlayer", new {id = ip.Id })
                </td>               
            </tr>
}
        </table>


    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Generate a Lineup based on Salary!</h2>
        <p>
            Generates a complete NBA Daily Fantasy Lineup.
        </p>
        <p><a class="btn btn-default" href="http://localhost:55643/ILineupGen/Index">Generate &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Generate a Lineup Without Questionable Players!</h2>
        <p>Generates a complete NBA Daily Fantasy Lineup, excluding all players currently desginated questionable!</p>
        <p><a class="btn btn-default" href="http://localhost:55643/ILineupGen/GenerateTeamWithoutInjuries">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Genrate a Lineup Without Players Designated out!</h2>
        <p>Generates a complete NBA Daily Fantasy Lineup, excluding all players currently desginated out!</p>
        <p><a class="btn btn-default" href="http://localhost:55643/ILineupGen/GenerateTeamWithoutOuts">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Genrate a Lineup Based on average Fantasy Points Per Game</h2>
        <p>Generates a complete NBA Daily Fantasy Lineup! </p>
        <p><a class="btn btn-default" href="http://localhost:55643/ILineupGen/GenerateTeamByFFPG">Learn more &raquo;</a></p>
    </div>
</div>

