@model BasketballProject.Models.ImportPlayerViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

      <table class="table">
            <tr>
                <th>
                Player Name
                </th>            
                <th></th>
            </tr>

@foreach (var ip in Model.ImPlayers)
{
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => ip.First_Name ) &nbsp;
                    @Html.DisplayFor(modelitem => ip.Last_Name) &nbsp;
                    @Html.DisplayFor(modelitem => ip.Position) &nbsp;
                    @Html.DisplayFor(modelitem => ip.Team) &nbsp;
                    @Html.DisplayFor(modelitem => ip.Salary)
                </td>               
            </tr>
}
        </table>


    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Generate a Lineup!</h2>
        <p>
            Generates a complete NBA Daily Fantasy Lineup.
        </p>
        <p><a class="btn btn-default" href="http://localhost:55643/LineupGenerator/Index">Generate &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>